
        .navbar-default {
            height:50px;
            border-bottom:#DFDFDF 1px solid;
        }
        .sidebar {
            background-color:#fff;
        }
        #brand {
            padding-top:px;
            align-items:center;
            height:56px;
            background-color:#fff;
            color:#444;
            border-bottom:#DFDFDF 1px solid;
            background-color:#fff;
        }
        .sidebar #menu {
            padding-top:5px;
            border-bottom:#DFDFDF 1px solid;
            border-right:#DFDFDF 1px solid;
        }
        #menu .user {
            font-size:14px;
            height:47px;
            padding-top:-5px;
            border-bottom:#DFDFDF 1px solid;
        }
        #menu .user .username {
            font-size:18px;
            font-weight:400;
        }
        .sidebar_menu li a img {
            padding-right:5px;
        }
        .sidebar_link {
            padding-top:0px;
            height:50px;
        }
        .invite {
            color:#134084;
        }
        .news-item {
            background-color:#fff;
        }
        .reset{
            border-bottom:#DFDFDF 1px solid;
        }
        .nav-img img{
            padding-top:-5px;
            padding-bottom:0px;
        }
        .nav-height {
            height:50px;
        }
        .navbar-fixed-top {
            overflow-y:hidden;
            max-height:50px;
            margin-bottom:0px;
        }
        .second_navbar {
            padding-top:4px;
            padding-bottom:4px;
            text-align:center;
            background-color:#fff;
            border:#ffe 1px thin;
            color:#444;
            
        }
        #content .container-fluid {
            margin-top:-13px;
        }
        body {
            background-color:#FCFCFC;
        }
        .nav-pills>li.active>a,.nav-pills>li>a:hover{
            background-color:rgba(0,89,122,1.00);
            color:#fff;
            border-radius:25px 25px 25px 25px;
        }
        .nav-pills a {
            color:#444;
            font-weight:600;
        }
        #menu>ul>li.userli>a:hover {
            color:#444;
            background-color:#fff;
        }
        .padding_left {
            margin-left:40px;
        }
        .hasSubmenu>ul>li>a{
            color:#444;
            background-color:rgba(249,249,249,1.00);
        }
        .hasSubmenu>ul>li>a:hover{
            color:#fff;
            background-color:rgba(0,89,122,1.00);
        }
        .hasSubmenu>a:hover{
            color:#fff;
            background-color:rgba(0,89,122,1.00);
        }
        .job_header_box {
            background-color:rgba(89,169,194,1.00);
            font-weight:700;
            color:#fff;
            height:97px;
        }
        .table th, .table td { 
             border-top: none !important; 
         }
         li.reset>ul>li>p {
             padding-left:20px;
             color:#444;
             font-weight:600;
             background-color:rgba(249,249,249,1.00);
         }
           .glyphicon-chevron-down{
            padding-left: 5px;
            color: #034e63;
        }
        .contribute-link h5 a{
            text-decoration: none;
    color: #2C6597;
    font-size: 15px;
        }
        .contribute-dropdown textarea{
            width: 48%;
    padding-left: 20px;
    margin-left: 0px;
    margin-top: 10px;
    border-radius: 5px;
    border:1px solid #59A9C2;
    height:100%;
    margin-left: 10px;

        }
       #button-list {
    list-style-type: none;
    margin-left: 30%;
}
 #button-list li button{
         border-radius: 3px;
    background-color: #034e63;
    color: #fff;
    border: #034e63 solid 1px;
    box-shadow: 2px 5px 4px -3px rgba(40, 40, 40, 0.6);
    padding-left: 25px;
    padding-right: 25px;
 }
 .glyphicon-paperclip{
    margin-top: 7px;
    margin-right: 15px;
 }
 #student-details{
    list-style-type: none;
    margin-bottom: 0px;
 }



